# Prevent execution of scripts in uploads directory
<FilesMatch "(?i)\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|htm|shtml|sh|cgi)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
Options -Indexes
